*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 20px 65px;
    background-color: rgba(255, 255, 255, 0);
    gap: 10px;
}
.chapeu{
    display: flex;
    align-items: center;
    text-align: center;
    color:white;
    gap: 40px;
    font-size:50px;
    text-decoration: none;
    margin: 0 15px;
}
a{
    text-decoration: none;
    color: white;
    font-size:medium ;
}
header a:hover{
    text-decoration: underline red;
}
.icones{
    background-color: rgba(255, 255, 255, 0);
}
main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    width: 100%;
    height: 90vh;
    gap: 30px;
}
.caixa1{
    display: flex;
    align-items: flex-start;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    max-width: 520px;
    justify-content: space-between;
}
.caixa1 p{
    color: white;
    font-size:20px;
    text-align: start;

}
.butao{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 90px;
    
}
.butao1{
border-color: red;
background-color: red;
padding: 25px 20px;
border-radius: 15px 0 15px 0;

}
.butao2{
    border-color:rgb(27, 167, 27);
    background-color: rgba(255, 255, 255, 0);
    padding: 15px 10px;
    border-radius: 15px 0 15px 0;
padding: 25px 20px;
}
.butao1:hover{
background: rgba(255, 255, 255, 0);
color: white;
border: 2px solid red;
}
.butao2:hover{
    background: green;
    color: rgb(255, 255, 255);
}
.video{
object-fit: cover;
width: 100%;
position: fixed;
top: 0;
left: 0;
z-index: -1;
filter: brightness(70%);
height: 100%;
}

